@import 'variables.scss';

body{
  font-family: $font-principal;
}

Header {
  border-bottom: 1px solid $grey-3;
}

.InfoUser{
  line-height: .5;
  font-size: 14px;
  margin: 2em 1em;
}

.style-item {
  list-style: none;
}

.bg-grey-2 {
  background-color: $grey-2;
}

.bg-sky-2 {
  background-color: $sky-2;
}

.style-item li {
  display: inline-block;
  margin: 1em;
  color: $grey-2;
}

.float {
  float: right
}

.radius-20 {
  border-radius: 20px;
}

.grey-1 {
  color: $grey-1
}

.flag {
  width: 45px;
}

.title-c-1 {
  font-size: 24px;
  color: $sky-1;
  font-weight: 700;
  line-height: 1;
}

.title-4 {
  font-size: 18px;
  font-weight: 700;
}

.input-c {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 2px 9px 4px 15px;
  font-size: 20px;
  font-weight: bolder;
  color: $grey-1;
  width: 100%;
}

.w-contain {
  width: 460px;
  margin: 1em auto;
}

.title-c-2 {
  font-size: 20px;
  color: $green-1;
  font-weight: 700;
}

.title-c-3 {
  font-size: 18px;
  color: $grey-1;
  text-align: center;
}

.box-green-1 {
  border: 2px solid $green-1;
  border-radius: 20px 0px 0px 20px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn-active {
  background-color: $green-1;
  color: white;
}

.btn-desactive {
  background-color: transparent;
  color: $green-1;
}

.box-green-2 {
  border: 2px solid $green-1;
  border-radius: 0px 20px 20px 0px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
}

.w-box {
  width: 400px;
}

.money {
  font-size: 16px;
  color: $grey-2;
  font-weight: 700;
  position: relative;
  top: 5px;
  padding-left: 10px;
}

.bg-green {
  background-color: $green-1;
  color: white;
}

.next {
  width: 200px;
  font-size: 14px;
  transition: 1s;
}

.next:hover{
  color: white;
  background-color: rgb(99, 168, 46);
}

.title-c-4 {
  font-size: 30px;
  color: $grey-2;
  text-align: center;
  font-weight: 700;
}


.Footer {
  height: auto;
  font-size: 12px;
}

.hfooter-1 {
  height: auto;
}

.title {
  font-size: 18px;
}

.hfooter-2 {
  height: 60px;
  background-color: $black-2;
}

.icons {
  width: 24px;
  height: 24px;
}

.green-1 {
  color: $green-1;
}

.black-1 {
  background-color: $black-1;
}

.Main {
  height: auto;
}

.white {
  color: white !important
}

.bg-white {
  background-color: white;
}

.bg-green-2 {
  background-color: transparent;
  color: $green-1;
  font-weight: bolder;
}

.logo-secure {
  width: 90px;
}

.grey-2 {
  color: $grey-2;
}

.f14 {
  font-size: 14px;
}


.f12 {
  font-size: 12px;
}

.f16{
  font-size: 16px;
}

.f18{
  font-size: 18px;
}

.title-c-5{
  color:  $sky-1;
  font-size: 18px;
  font-weight: 600;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.Menu ul {
  list-style: none;
}

.Menu ul li {
  border: 1px solid $grey-3;
  padding: .5em;
  color: $grey-1;
  font-size: 14px;
}

.Menu ul li:first-child {
  color: white;
}

.Menu li a:hover{
  color: $green-1;
}

.navbar-light .navbar-toggler {
  border: none;
}

.Menu a {
  text-decoration: none;
  color: $grey-4;
}

.table th {
  background-color: $sky-3
}

/*Notificacion*/

.box-noti {
  background-color: white;
  border: 2px solid $sky-1;
  border-radius: 20px;
  height: auto;
}

.logo-not {
  height: 72px;
  width: 72px;
}

.line-h {
  line-height: .5;
}

.w300 {
  width: 375px;
}

.message {
  width: 480px;
  text-align: justify;
  font-size: 14px;
}

.relative {
  position: relative;
}

.circle {
  height: 56px;
  width: 56px;
  border-radius: 50px;
  background-color: $sky-1;
  color: white;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  position: relative;
  bottom: -0.6em;
  left: 45%;
  z-index: 1;
}

.text-sky {
  color: $sky-1;
}

.text-green {
  color: $green-1;
  font-weight: 600;
}


.info-circle{
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: $sky-1;
  color: white;
  border: none;
}

/* Componente Info User*/
.personal-info{
  margin: 1em auto;
}

.personal-info tr td:first-child{
  font-weight: 700;
}

.personal-info h3{
  font-size: 20px;
  color: $grey-1;
}
.bg-red{
  background-color: red
}

.Container {

  margin: 1em auto;
}

.break{
  overflow-wrap: break-word;
}

.box-confirmation{
  a{
    width: 100%;
  }
}




 .popuptext {
   width: 160px;
  background-color: $sky-1;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 0%;
  left: 150%;
  margin-left: -80px;
}


.notice {
  position: relative;
  margin: 1em;
  background: #F9F9F9;
  padding: 1em 1em 1em 2em;
  border-left: 4px solid #DDD;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
  font-style: italic;
}

.notice:before {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: -17px;
  background-color: #DDD;
  color: #FFF;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-family: Georgia;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.success {
  border-color: $green-1;
}

.success:before {
  content: "!";
  background-color:  $green-1;
}


@media (min-width: 768px) {

  .w400{
    max-width:  400px;
  }
  .w500 {
    max-width: 500px;
  }

  .w600{
    max-width: 760px;
  }

  .box-noti{
    height: 410px;
  }

  .f12 {
    font-size: 14px;
  }
  
  .title-c-3{
    font-size: 20px;
  }


}

@media (max-width: 576px) {
  .w600{
    max-width: 450px;
  }
}

@media (min-width: 992px) and (max-width:1049px) {
 

  .title-c-5{
    font-size: 16px;
  }

  .f16{
    font-size: 14px;
  }
}