@import url('https://fonts.googleapis.com/css?family=Nunito');
$sky-1: #26A8E0;
$green-1: #7ACE3B;
$sky-2: #F6F9FC;
$sky-3: #CFE2F3;
$grey-1: #737476;
$grey-2: #A2A2A2;
$grey-3: #E6E7E8;
$grey-4: #5d646d;
$black-1: #272727;
$black-2: #222222;
$font-principal: 'Nunito'